---
 const personalImageAlt = "Figueroa Emiliano"
 import "../CSS/AboutMe.css"
---

<article class="article-about-me">
  <div
    class="container-about-me "
  >
  <p>
    ¡Hola! Soy Emiliano, estudiante de <strong>Desarrollo Full Stack Engineer</strong> y <strong>Ciberseguridad</strong> en Educación IT, Buenos Aires, Argentina. Me considero una persona <strong>organizada, responsable y entusiasta</strong>, siempre buscando aprender y mejorar trabajando en equipo.
  </p>
  
  <p>
    A lo largo de mi carrera, he desarrollado habilidades en <strong>Excel</strong> y liderazgo, tanto en mi pasantía en Sika ARG como en mi rol de <strong>Jefe de Barra</strong>. También he trabajado en proyectos autodidactas con tecnologías como <strong>HTML, CSS, JS, TS, Node.js</strong> y <strong>MongoDB</strong>.
  </p>
  
  <p>
    Actualmente, busco aplicar mis conocimientos en el área de <strong>desarrollo (developer)</strong> o <strong>DevSecOps</strong>, y continuar creciendo profesionalmente. Me apasiona investigar, diseñar y crear soluciones innovadoras, como mi proyecto de <em>ecommerce de Padel</em>, donde integré funciones avanzadas como APIs de pago y cálculos de envío.
  </p>
  
  </div>

  <img width="200" height="200" src="../../public/Image/ImagenFooter.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>

